<!doctype html>
<html>
    <head>
        <title>{% block titulo %} {% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/public/css/estilos.css"/>
        <script src="/js/popper.min.js" defer></script>
        <script src="/js/bootstrap.bundle.min.js" defer></script>
    </head>
    <body>
        {% include "menu.njk" %}
        <div class="container">
            {% block contenido %}

            {% endblock %}
        </div>
    </body>
</html>