
<div class="alert alert-secondary">
<a href="/patients">Listado de pacientes</a>
&nbsp;&nbsp;
<a href="/patients/new">Nuevo paciente</a>
&nbsp;&nbsp;
<a href="/physios">Listado de fisios</a>
&nbsp;&nbsp;
<a href="/physios/nuevo">Nuevo fisio</a>
&nbsp;&nbsp;
<a href="/records">Listado de records</a>
&nbsp;&nbsp;
<a href="/records/nuevo">Nuevo Record</a>
</div>