{% extends "base.njk" %}
{% block titulo %}Pacientes | Listado{% endblock %}
{% block contenido %}
    <h1>Listado de fisios</h1>

    <form action="/physios/find" method="get" class="form-inline">
            <label>Specialty:
                <select class="form-control" name="specialty">
                    <option value="">Todas las especialidades</option>
                    <option value="Sports">Sports</option>
                    <option value="Neurological">Neurological</option>
                    <option value="Pediatric">Pediatric</option>
                    <option value="Geriatric">Geriatric</option>
                    <option value="Oncological">Oncological</option>
                </select>
            </label>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>

    <table width="100%">
        {% for physio in physios %}
            <tr>
                {% if loop.index % 2 == 0 %}
                    <td class="par">{{ physio.name }}
                        {{ physio.surname }} (esp: {{ physio.specialty }})</td>
                {% else %}
                    <td class="impar">{{ physio.name }}
                        {{ physio.surname }} (esp: {{ physio.specialty }})</td>
                {% endif %}
                <td>
                    <a class="btn btn-success" href="/physios/{{ physio.id }}">Details</a>
                    <form style="display:inline" action="/physios/{{ physio.id }}" method="post">
                        <input type="hidden" name="_method" value="delete"/>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <a class="btn btn-primary" href="/physios/{{ physio.id }}/edit">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>No hay fisios que mostrar.</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}